html {
  background: white;
  font-family: sans-serif;
}

#root {
  width: 100%;
  display: flex;
  justify-content: center;
}

main {
  width: 400px;
}

h1 {
  color: #2d4a4a;
}

h4 {
  margin: 0;
  margin-bottom: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.message {
  background: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 0 20px 0;
  border-radius: 4px;
}

.content {
  padding: 20px;
}

.message img {
  float: left;
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 2px solid #1da1f2;
  margin: 20px;
}

.replies {
  background: #e2e2e2;
  border-top: 1px solid #ccc;
  padding: 20px;
}

.buttons {
  text-align: right;
}

.like,
.collapse {
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  margin-left: 10px;
}

.like {
  opacity: 0.2;
}

.like.liked {
  opacity: 1;
}

.composer input {
  font-size: 1.2em;
  padding: 4px;
}

.composer input:focus {
  border: 1px solid #1da1f2;
}

.loadmore {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.header {
  background: #ccc;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin: 0 0 20px 0;
  border-radius: 4px;
  padding: 20px;
}

button {
  cursor: pointer;
  border-radius: 8px;
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 8px 10px;
  margin-left: 10px;
}

li span {
  color: #999;
}

.strikethrough {
  text-decoration: line-through;
}

.error {
  background: #ffcaca;
  border: 1px solid red;
  color: red;
  border-radius: 4px;
  padding: 10px 20px;
  text-align: center;
  font-style: italic;
}
